@model PhatHanhSach.Web.Models.DaiLyViewModel
@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/Layout.cshtml";
    var successMessage = (string)TempData["Success"];
}

@section headerStyles {
    <link href="~/Assets/css/myCustom.css" rel="stylesheet">
}

@section footerJS {
    <!-- validator -->
    <script src="~/Assets/vendors/validator/validator.js"></script>
    <script src="~/Assets/js/showToast.js"></script>
    <script>
        @if(successMessage != null && successMessage.Length != 0)
        {
            @:showSuccessToast("@successMessage");
        }
    </script>
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thêm đại lý</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        @using (Html.BeginForm("ThemDaiLy", "DaiLy", FormMethod.Post, new { @class = "form-horizontal form-label-left", @novalidate = "" }))
                        {
                                @Html.AntiForgeryToken()
                                <span class="section">Thông tin đại lý</span>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tên đại lý <span class="required">*</span>
                                    </label>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.TenDaiLy, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập tên của đại lý...", @required = "" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Số điện thoại <span class="required">*</span>
                                    </label>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập số điện thoại...", type = "tel", @required = "" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Địa chỉ <span class="required">*</span>
                                    </label>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập thông tin địa chỉ của đại lý...", @required = "" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <div class="col-md-5 col-sm-6 col-xs-12 col-lg-offset-3">
                                        @Html.ValidationSummary(false, "", new { @class = "error" })
                                    </div>
                                </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="pull-left">
                                        <a href="/dai-ly/" class="btn btn-default">Quay về</a>
                                    </div>
                                    <div class="pull-right">
                                        <button id="reset" type="reset" class="btn btn-info">Hủy bỏ</button>
                                        <button id="send" type="submit" class="btn btn-success">Thêm mới</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

