@model PhatHanhSach.Web.Models.ThanhToanViewModel
@{
    ViewBag.Title = "TaoBaoCao";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section headerStyles {
    <!-- bootstrap-datetimepicker -->
    <link href="~/Assets/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- Ion.RangeSlider -->
    <link href="~/Assets/vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="~/Assets/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Assets/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <!-- Bootstrap Colorpicker -->
    <link href="~/Assets/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link href="~/Assets/vendors/cropper/dist/cropper.min.css" rel="stylesheet">

    <link href="~/Assets/css/myCustom.css" rel="stylesheet">
}

@section footerJS {
    <!-- bootstrap-datetimepicker -->
    <script src="~/Assets/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Ion.RangeSlider -->
    <script src="~/Assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- Bootstrap Colorpicker -->
    <script src="~/Assets/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- jquery.inputmask -->
    <script src="~/Assets/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- jQuery Knob -->
    <script src="~/Assets/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- Cropper -->
    <script src="~/Assets/vendors/cropper/dist/cropper.min.js"></script>
    <!-- validator -->
    <script src="~/Assets/vendors/validator/validator.js"></script>
    <!-- autocomplete jquery -->
    <script src="~/Assets/js/myCustomJS.js"></script>
    <!-- Initialize datetimepicker -->
    <script>
        $('#myCreateDate').datetimepicker({
            format: 'DD / MM / YYYY',
            ignoreReadonly: true,
            allowInputToggle: true
        });

        $('#myEndDate').datetimepicker({
            format: 'DD / MM / YYYY',
            ignoreReadonly: true,
            allowInputToggle: true
        });
    </script>
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Lập báo cáo nhà xuất bản</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        @using (Html.BeginForm("TaoBaoCao", "ThanhToan", FormMethod.Post, new { @class = "form-horizontal form-label-left", @novalidate = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <span class="section">Thống kê tiền thanh toán theo khoảng thời gian</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Ngày lập phiếu <span class="required">*</span>
                                </label>
                                <div class="control-group col-md-5 col-sm-6 col-xs-12">
                                    <div class='input-group date' id="myCreateDate">
                                        @Html.TextBoxFor(m => m.ThoiGianLapPhieu, new { @class = "form-control", placeholder = "Nhấp chọn thời gian hiện tại..." })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group ui-widget">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="listNXB">
                                    Thông tin nhà xuất bản <span class="required">*</span>
                                </label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <input id="listNXB" class="form-control col-md-7 col-xs-12" placeholder="Nhập thông tin nhà xuất bản..." required name="TenNXB"/>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Thời gian báo cáo <span class="required">*</span>
                                </label>
                                <div class="control-group col-md-5 col-sm-6 col-xs-12">
                                    <div class='input-group date' id="myEndDate">
                                        @Html.TextBoxFor(m => m.NgayKetThuc, new { @class = "form-control", placeholder = "Nhấp chọn ngày kết thúc của báo cáo." })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-5 col-sm-6 col-xs-12 col-lg-offset-3">
                                    @Html.ValidationSummary(false, "", new { @class = "error" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3">
                                    <div class="pull-left">
                                        <button id="reset" type="reset" class="btn btn-info">Hủy bỏ</button>
                                    </div>
                                    <div class="pull-right">
                                        <button id="next" type="submit" class="btn btn-primary" name="analyze">Thống kê dữ liệu</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            if (Model.dsThongKeNXB != null && Model.dsThongKeNXB.Count() > 0)
                            {
                                int i = 1;
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Thông tin dữ liệu được thống kê </h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li class="pull-right">
                                                <a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                            <li class="pull-right">
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <table id="datatable" class="table table-striped table-bordered bulk_action">
                                            <thead>
                                                <tr>
                                                    <th>STT </th>
                                                    <th>Tên sách </th>
                                                    <th>Đơn giá nhập </th>
                                                    <th>Số lượng nhập </th>
                                                    <th>Số lượng tồn đợt trước </th>
                                                    <th>Tổng tiền nhập </th>
                                                    <th>Số lượng xuất </th>
                                                    <th>Tổng tiền sách bán </th>
                                                    <th>Tổng tiền nợ </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var ct in Model.dsThongKeNXB)
                                                {
                                                    double TongTienXuat = 0;
                                                    int SoLuongXuat = 0;
                                                    if(ct.TongTienXuat != null)
                                                    {
                                                        SoLuongXuat = (int)ct.SoLuongXuat;
                                                        TongTienXuat = (double)ct.TongTienXuat;
                                                    }

                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@ct.TenSach</td>
                                                        <td>@ct.DonGiaNhap.ToString("N0")</td>
                                                        <td>@ct.SoLuongNhap</td>
                                                        <td>@ct.SoLuongTonDotTruoc</td>
                                                        <td>@ct.TongTienNhap.ToString("N0")</td>
                                                        <td>@SoLuongXuat</td>
                                                        <td>@TongTienXuat.ToString("N0")</td>
                                                        <td>@ct.TongTienNo.ToString("N0")</td>
                                                    </tr>
                                                    i++;
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="9">
                                                        <label class="pull-left">
                                                            Đại lý: @Model.NhaXuatBan.TenNXB - SĐT: @Model.NhaXuatBan.SoDienThoai
                                                        </label>
                                                        <label class="pull-right">
                                                            Tổng tiền sách bán: @Model.TongTienSachBan.ToString("N0") - Còn nợ: @Model.TongTienConNo.ToString("N0")
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="9">
                                                        <label class="pull-left">
                                                            Địa chỉ: @Model.NhaXuatBan.DiaChi
                                                        </label>
                                                        <label class="pull-right">
                                                            Khoảng thời gian: @Model.NgayBatDau.ToString("dd / MM / yyyy") - @Model.NgayKetThuc.ToString("dd / MM / yyyy")
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            }
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="pull-left">
                                        <a href="/bao-cao/nxb/" class="btn btn-default">Quay về</a>
                                    </div>
                                    <div class="pull-right">
                                        <button id="next" type="submit" name="create" class="btn btn-primary">Tạo báo cáo</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


