@model PhatHanhSach.Web.Models.BaoCaoDLViewModel

@{
    ViewBag.Title = "TaoBaoCao";
    Layout = "~/Views/Shared/Layout.cshtml";
    var dsDaiLy = (IEnumerable<PhatHanhSach.Web.Models.DaiLyViewModel>)ViewBag.DanhSachDaiLy;
}

@section headerStyles {
    <!-- bootstrap-datetimepicker -->
    <link href="~/Assets/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- Ion.RangeSlider -->
    <link href="~/Assets/vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="~/Assets/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Assets/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <!-- Bootstrap Colorpicker -->
    <link href="~/Assets/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link href="~/Assets/vendors/cropper/dist/cropper.min.css" rel="stylesheet">

    <link href="~/Assets/css/myCustom.css" rel="stylesheet">
}

@section footerJS {
    <!-- bootstrap-datetimepicker -->
    <script src="~/Assets/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Ion.RangeSlider -->
    <script src="~/Assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- Bootstrap Colorpicker -->
    <script src="~/Assets/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- jquery.inputmask -->
    <script src="~/Assets/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- jQuery Knob -->
    <script src="~/Assets/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- Cropper -->
    <script src="~/Assets/vendors/cropper/dist/cropper.min.js"></script>    
    <!-- validator -->
    <script src="~/Assets/vendors/validator/validator.js"></script>
    <!-- autocomplete jquery -->
    <script src="~/Assets/js/myCustomJS.js"></script>
    <!-- Initialize datetimepicker -->
    <script>
        $('#myCreateDate').datetimepicker({
            format: 'DD / MM / YYYY',
            ignoreReadonly: true,
            allowInputToggle: true
        });

        $('#myStartDate').datetimepicker({
            format: 'DD / MM / YYYY',
            ignoreReadonly: true,
            allowInputToggle: true
        });

        $('#myEndDate').datetimepicker({
            format: 'DD / MM / YYYY',
            ignoreReadonly: true,
            allowInputToggle: true            
        });

        $("#myStartDate").on("dp.change", function (e) {
            $('#myEndDate').data("DateTimePicker").minDate(e.date);
        });

        /*$("#myEndDate").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });*/
    </script>
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Tạo báo cáo đại lý</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">                        
                        @using (Html.BeginForm("TaoBaoCao", "BaoCao", FormMethod.Post, new { @class = "form-horizontal form-label-left", @novalidate = "" }))
                        {                           
                            @Html.AntiForgeryToken()
                            <span class="section">Thông tin phiếu báo cáo</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Mã báo cáo <span class="required">*</span>
                                </label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.MaBaoCao, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập mã báo cáo...", @required = "" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Ngày lập phiếu <span class="required">*</span>
                                </label>
                                <div class="control-group col-md-5 col-sm-6 col-xs-12">
                                    <div class='input-group date' id="myCreateDate">
                                        @Html.TextBoxFor(m => m.ThoiGianLapPhieu, new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group ui-widget">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Mã đại lý <span class="required">*</span>
                                </label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.MaDaiLy, new { @id = "listDaiLy", @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập mã nhà đại lý...", @required = "" })
                                </div>
                            </div>                            
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Thời gian bắt đầu - kết thúc <span class="required">*</span>
                                </label>
                                <div class="control-group col-md-5 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class='input-group date' id="myStartDate">
                                                @Html.TextBoxFor(m => m.ThoiGianBatDau, new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class='input-group date' id="myEndDate">
                                                @Html.TextBoxFor(m => m.ThoiGianKetThuc, new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-5 col-sm-6 col-xs-12 col-lg-offset-3">
                                    @Html.ValidationSummary(false, "", new { @class = "error" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="pull-left">
                                        <a href="/BaoCao/BaoCaoDaiLy" class="btn btn-default">Quay về</a>
                                    </div>
                                    <div class="pull-right">
                                        <button id="reset" type="reset" class="btn btn-info">Hủy bỏ</button>
                                        <button id="next" type="submit" class="btn btn-primary">Khai báo số lượng</button>
                                    </div>
                                </div>
                            </div>
                         }
                    </div>
                </div>
            </div>
        </div>        
        <div hidden="hidden">
            <ul>
                @foreach (var dl in dsDaiLy)
                {
                    <li class="daiLy">@dl.MaDaiLy</li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- /page content -->

