@model PhatHanhSach.Web.Models.PhieuNhapViewModel

@{
    ViewBag.Title = "ThemNhaXuatBan";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section headerStyles {
    <link href="~/Assets/css/myCustom.css" rel="stylesheet">
}

@section footerJS {
    <!-- validator -->
    <script src="~/Assets/vendors/validator/validator.js"></script>
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thêm nhà xuất bản</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        @using (Html.BeginForm("ThemNhaXuatBan", "PhieuNhap", FormMethod.Post, new { @class = "form-horizontal form-label-left", @novalidate = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <span class="section">Thông tin nhà xuất bản</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Mã nhà xuất bản <span class="required">*</span>
                                </label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.NhaXuatBan.MaNXB, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập mã của nhà xuất bản...", @required = "", disabled = ""})
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Tên nhà xuất bản <span class="required">*</span>
                                </label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.NhaXuatBan.TenNXB, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập tên của nhà xuất bản...", @required = "" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số điện thoại <span class="required">*</span>
                                </label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.NhaXuatBan.SoDienThoai, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập số điện thoại...", type = "tel", @required = "" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Địa chỉ <span class="required">*</span>
                                </label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.NhaXuatBan.DiaChi, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập thông tin địa chỉ...", @required = "" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Số tài khoản <span class="required">*</span>
                                </label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.NhaXuatBan.SoTaiKhoan, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nhập số tài khoản giao dịch...", @required = "" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-5 col-sm-6 col-xs-12 col-lg-offset-3">
                                    @Html.ValidationSummary(false, "", new { @class = "error" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="pull-left">
                                        <a href="/PhieuNhap/DanhSachPhieuNhap" class="btn btn-default">Quay về</a>
                                    </div>
                                    <div class="pull-right">
                                        <button id="reset" type="reset" class="btn btn-info">Hủy bỏ</button>
                                        <button id="next" type="submit" class="btn btn-success">Tiếp tục</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
